.DS_Store
.DS_Store?
.RData
.Rhistory
.Rproj.user
.Trashes
*.html
*.zip
Project Requirements Fall 2019.pdf alias
bike-sharing.Rproj
csv-inputs/*.csv
csv-inputs/*.zip
data-sources-kevin-cullen.md
dataminingbook.com R code
final-report-kevin-cullen-cis575-fall-2019.pdf
predictions-for-kaggle.zip
project-proposal-kevin-cullen-cis575.md
xlsx+raw-csv-inputs/
