xlsx+raw-csv-inputs/
csv-inputs/*.zip
csv-inputs/*.csv
.Rhistory
.RData
Project Requirements Fall 2019.pdf alias
data-sources-kevin-cullen.md
dataminingbook.com R code
.DS_Store
.DS_Store?
.Trashes
.Rproj.user
bike-sharing.Rproj
final-report-kevin-cullen-cis575-fall-2019-BBEditPreviewTemp.md.html
final-report-kevin-cullen-cis575-fall-2019.pdf
predictions-for-kaggle.zip
